.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Pay */
.pay-btn-container Link {
  background-color: black;
  color: white;
  padding: 1.5% 3% 1.5% 3%;
  border-radius: 0.5rem;
  border: none;
  margin-top: 20rem;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

/* Success */
.success-btn-container{
  width: 30%;
  margin: auto;
}

.success-btn-container Link {
    background-color: teal;
    color: white;
    padding: 3% 4% 3% 4%;
    border-radius: 0.5rem;
    border: none;
    margin-top: 20rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

